
.postContent{
    width: 385px;
    margin: 0px 25px 40px 25px;
    display: flex;
    flex-direction: column;
}
.postImg{
    width: 385px;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
    transition: all 1s ease;
    overflow: hidden;
}
.postImg:hover{
    transform: scale(1.3);
}
.postCats{
    font-weight: 400;
    font-size: 11px;
    color:cadetblue;
    line-height: 19px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.postCat{
    margin-left: 5px;
}

.postContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postTitle{
    font-size: 19px;
    font-weight: 800;
    cursor: pointer;
}

.date{
    margin-top: 5px;
    font-size: 14px;
    color: black;
}
.postDesc{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}