.post{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 120px;
}
/* .content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 4rem;
}
.Authors{
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.details{
    margin-top: 32rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}
.desc{
    word-wrap: break-word;
}
.postImg{
    width: 700px;
    height: 400px;
    object-fit: cover;
    margin-top: 2rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
} */